.fixedScrollNav__container {
    position: fixed;
    top: 0; right: 8px;
    margin: 16px;
    z-index: 1000;
    opacity: 0.7;
    transition: all 0.3s;

    &:hover, &:active, &:focus {
        opacity: 1;
    }

    .fixedScrollNav__button {
        margin: 8px;
        cursor: pointer;
        opacity: 1;
        transition: all 0.2s;
        outline: none;
        
        &:hover, &:active, &:focus {
            transform: scale(1.1);
        }

    }

    .fixedScrollNav__button--previous {
        width: 0; height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 35px solid lightblue;
    }

    .fixedScrollNav__button--next {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 35px solid lightblue;
    }

}