
.demoContainer {
    
    section {
        min-height: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;


        &:nth-child(1) {
            background: darkred;
        }
    
        &:nth-child(2) {
            background: #345531;
        }
    
        &:nth-child(3) {
            background: #533246;
        }
    
        &:nth-child(4) {
            background: #85A078;
        }
    
        &:nth-child(5) {
            background: #5433d2;
        }
    
        &:nth-child(6) {
            background: #56faad;
        }
    }
}